.mobile-nav {
    display: none;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: #23232b;
    padding: 8px 0;
    justify-content: space-around;
    border-top: 1px solid #2e2e37;
}

.mobile-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #909090;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
}
@media(max-width:900px){
    .mobile-nav{
        display: flex;
    }
}