.player{
    position: relative;
    width: 100%;
}
.cover{
    width: 100%;
}
.controls{
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}
.bottomControls {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.volume {
    width: 80px;
}
.subtitles{
    margin-left: auto;
}