.videoPlayer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.player{
    position: relative;
    width: 100%;
}
.cover{
    width: 100%;
}
.controls{
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}
.bottomControls {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.volume {
    width: 80px;
}
.subtitles{
    margin-left: auto;
}

.video-title{
    font-size: 36px;
    font-weight: 700;
}
.video-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid #ffffff80;
}
.video-controls{
    display: flex;
    gap: 10px;
}
.video-views{
    font-size: 20px;
    color: #C2C2C2;

}
.subscribe-button{
    white-space: nowrap;
    height: 40px;
    background: #ff0000;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}
.channel-card{
    margin-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
.channel-image{

}
.channel-info{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}
.channel-title{
    font-size: 26px;
}
.publish-date{
    margin-bottom: 10px;
    font-size: 13px;
    color: #c2c2c253;
}
.channel-descr{
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff71;
    max-width: 700px;
}
.more{
    font-size: 20px;
    color: #c2c2c274;
}

.mobileControls {
    display: none;
}
.sub-amount-mobile{
    display: none;
}
@media(max-width:900px){
    .publish-date,.channel-descr,.more,.sub-amount,.bottomControls{
        display: none;
    }
    .video-info{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .video-controls{
        width: 100%;
        margin-bottom: 30px;
    }
    .sub-amount-mobile{
        display: block;
    }
    .mobileControls {
        align-items: center;
        border-radius: 30px;
        padding: 2% 5%;
        background: rgba(0, 0, 0, 0.129);
        gap: 8px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        
    }
    .video-title,
    .video-info{
    padding: 0 16px;
    }
    .subscribe-button{
    background: none;
    color: #ff0000;
    }
    .channel-card{
        margin: 0;
        align-items: center;
        padding: 20px 16px;
    }
}
@media(max-width:768px){
    .video-title{
        font-size: 24px;
    }
    .channel-title{
        font-size: 16px;
    }
    .video-views{
    font-size: 12px;
    }
}