*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Mulish, sans-serif;
    background: #17171E;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
h1,h2 {
    color: white;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}